@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: #F3F3F3;
}

header {
    background-color: #05060A;
    color: #F3F3F3;

    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #05060A;
    color: #F3F3F3;

    font-size: 1.2em;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
}


.bloco {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F3CD65;
    width: 450px;
    height: 450px;

    border-radius: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.534);

    padding: 7px 7px 7px 7px;
}

#titulo-2 {
    padding: 50px 0px 20px 0px;
    font-size: 2.2em;
}

.legenda {
    margin: 0px 0px 9px 0px;
}

#verificar {
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

#txtvel {
    height: 30px;
    font-size: 1.5em;
    color: black;

    margin-bottom: 10px;
}

#res {
    padding: 40px 0px 0px 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}